@import 'variables';
@import 'theme';

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  background: map-get($backgrounds, 'main');
  color: map-get($colors, 'primary');
  font-family: $font-main;
}

body {
  min-height: 100%;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
